@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 30rem;

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Colors: Nexus palette */
  --color-nexus-950: #09090b;
  --color-nexus-900: #18181b;
  --color-nexus-800: #27272a;
  --color-nexus-border: #3f3f46;
  --color-nexus-accent: #8b5cf6;
  --color-nexus-success: #10b981;
}